/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.home{
  background-image: url('/public/images/farm_image.jpg');
  background-size: cover; /* This will make the image cover the entire frame */
  background-position: center;
}
.live{
  background-image: url('/public/images/live_animals.jpg');
  background-size: cover; /* This will make the image cover the entire frame */
  background-position: center;
}

.meat{
  background-image: url('/public/images/meat_poultry.jpg');
  background-size: cover; /* This will make the image cover the entire frame */
  background-position: center;
}

.grain{
  background-image: url('/public/images/grains_cereals.jpg');
  background-size: cover; /* This will make the image cover the entire frame */
  background-position: center;
}

.honey{
  background-image: url('/public/images/honey_products.jpg');
  background-size: cover; /* This will make the image cover the entire frame */
  background-position: center;
}

.fresh{
  background-image: url('/public/images/fresh_produce.jpg');
  background-size: cover; /* This will make the image cover the entire frame */
  background-position: center;
}

.dairy{
  background-image: url('/public/images/dairy_products.jpg');
  background-size: cover; /* This will make the image cover the entire frame */
  background-position: center;
}