@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&family=Dancing+Script:wght@600;700&family=Edu+TAS+Beginner&family=IBM+Plex+Serif:wght@300&family=Kalam:wght@300&family=Satisfy&family=Ysabeau+Infant:ital,wght@1,300&display=swap");
.image-transition {
  transition: 3s ease-in-out; /* You can adjust the duration and easing as needed */
  opacity: 1; /* Initially set the opacity to 1 */
}

.image-transition.hide {
  opacity: 0; /* When the image needs to transition out, set opacity to 0 */
}

#LandingpageHeader {
  font-family: "Edu TAS Beginner", cursive;
  color: white;
}
