.containe {
    margin: 0 auto; 
    max-width: 1200px; 
    display: block;
  }
  
  .vendor-one, .vendor-two, .vendor-three {
    margin: 20px 0; 
    align-items: center; 
  }
  
  .img-details-container {
    display: flex; 
  }
  
  .img1 {
    flex: 1; 
  }
  
  .details {
    flex: 1; 
    padding: 60px; 
    background-color: white;
    justify-content: center;
  }
  
  button {
    margin-top: 10px;
    justify-items: center;
    text-decoration: #06752E;
    color: #06752E;
  }
  
  .lefti{
    display: flex;
  }
  
  .fulfillment-days-mon-4{
    width: 50%;
  }
  .minimum-order-4, .order-cutoff-time-4, .delivery-fee-4, .delivery-window-3{
    width: 50%;
  }
  
  .btn{
    color: #06752E;
    display: flex;
    align-self: center;
    background-color: white;
  }
  
  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  h1{
    color: #06752E;
  }
  
  .lefti {
    margin-bottom: 20px;
  }
  
  .btn-wrapper {
    margin-top: 20px;
  }
  
  .btn-wrapper button {
    border: 2px solid green;
  }