
body {
    font-family: 'Material Symbols Outlined', jinja;
    

  }
  
  
  .container {
    margin: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    justify-content: center;
    
  }
  
  
  /* .left{
    width: 30%;
    background-color:#06752E;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  } */
  .right{
    width: 70%;
    height: 100vh;
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .profile {
    align-items: center;
    width: 30%;
    background-color: #06752E;
  }
  /* .dp{
    height: 25%;
    border-radius: 50%;
  } */
  
  
  
  
  .profile{
    height: 5%;
  }
  .icons{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .nav{
    height: 10%;
    background-color: white;
    padding: 0px;
  }
  .nav svg{
    color: #06752E;
    margin: 10px;
  }
  
  .upload{
    height: 20%;
    background-color: rgb(236, 234, 234);
    padding: 30px;
  }
  .forms{
    height: 70%;
    background-color: beige;
    padding: 60px;
    margin-top: 40px;
  }

  .upload-content {
    display: flex; 
    align-items: center; 
    color: #06752E;
  }
  
  .upload-content svg {
    margin-right: 10px; 
  }
  
  
  
  .icon-section span {
    font-size: 30px;
    margin-left: 40px; 
  }
  
  .icon {
    font-size: 80px; 
    margin-right: 18px; 
    color: white;
    
  }
  .card{
    padding: 50px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
  }
  
  .form-group input,
  .form-group textarea {
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
  }
  
  .form-group input {
    border: 1px solid #06752E; /* Green border color */
    border-radius: 5px;
    padding: 5px;
    color: #06752E; /* Green text color */
    width: 100%;
  }
  
  .form-group textarea {
    width: 100%;
    border: 1px solid #06752E; /* Green border color */
    border-radius: 5px;
    padding: 5px;
    color: #06752E; 
  
  }
  
  .form-group.col-md-6 {
    width: calc(50% - 10px);
  }
  
  .btn-primary {
    background-color:  #06752E;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    justify-content: flex-end;
    
    
  }
  .botton-bn {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%;
  }
  
  .centered-button {
    text-align: center;
  }
  
  .btn-primary:focus,
  .btn-primary:hover {
    background-color:  rebeccapurple;
  }
  
  input{
    border-color: #06752E;
  }
  
  
  h1{
    font-weight: 100;
    font-size:70px;
    color: white;
    font-family: jinja;
  }
  
  .upload {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Update {
    margin-right: auto; 
    text-align: center; 
  }
  
  input[type="file"] {
    font-size: 0;
    color: silver;
  }
  
  
  .Update button {
    background-color: #06752E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .upload-pic{
    width: 85%;
  }
  
  .upload-pic a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center; 
  }
  
  
  
  .upload-pic i {
    font-size: 20px; 
    color: black; 
    margin-right: 5px; 
  }
  
  .upload-pic span {
    color: green; /* Set the color for the text */
  }
  
  .nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
  }
  
  .nav i {
    font-size: 20px; 
    margin-right: 30px; 
    color: #06752E; 
  }
  
  h2 {
    font-size: 18px; 
    color: #06752E; 
  }
  
  
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: green;
    width: 40%;
  }
  
  .dp {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .profile-image {
    background-color: grey;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .icons{
    height: 70%;
  }
  
  .one{
    height: 33.3%;
    width: 100%;
  }
  .two{
    height: 33.3%;
    width: 100%;
  }
  .three{
    height: 33.3%;
    width: 100%;
  }

  
  .icon-section {
    display: flex;
    align-items: center;
    color: white;
    height: 150px;
  }
  